.login__button {
    margin: 216px auto 0;
    padding: 0;
    width: 358px;
    height: 50px;
    background: #FFFFFF;
    border-radius: 2px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 530px) {
    .login__button {
        margin: 45px auto 22px;
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
    }
}