.popup__error_visible {
    display: inline-block;
    position: absolute;
    left: 0;
    margin-top: 63px;
    margin-left: 36px;
    padding: 0;
    max-width: 358px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
}

@media screen and (max-width: 530px) {
    .popup__error_visible {
        margin-left: 22px;
        max-width: 238px;
    }
}