.profile__logged {
    position: absolute;
    top: -150px;
    right: 0;
    display: flex;
    flex-flow: nowrap;
}

@media screen and (max-width: 620px) {
    .profile__logged {
        flex-flow: column wrap;
        top: -180px;
    }
}

@media screen and (max-width: 425px) {
    .profile__logged {
        top: -160px;
    }
}