.header__login {
    margin-top: 51px; 
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: relative;
}

@media screen and (max-width: 620px) {
    .header__login {
        margin-top: 0px;
    }
}