.popup__tooltip-icon_status_not-true {
    margin: 60px auto 0;
    background-color: #fff;
    background-image: url(../../../../../images/not-true.svg);
    background-size: 120px 120px;
    background-repeat: no-repeat;
    background-position: center;
    width: 120px;
    height: 120px;
    box-sizing: border-box;
    display: flex;
}

@media screen and (max-width: 754px) {
    .popup__tooltip-icon_status_not-true {
        margin: auto 0 8px 18px;

    }
}

@media screen and (max-width: 620px) {
    .popup__tooltip-icon_status_not-true {
        margin: auto;
        background-size: 7.5px 7.5px;
        width: 18px;
        height: 18px;
    }
}