.login__inout {
    margin-left: auto;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    top: -68px;
}

@media screen and (max-width: 934px) {
    .login__inout {
        margin-right: 27px;
    }
}

@media screen and (max-width: 425px) {
    .login__inout {
        top: -52px;
    }
}